.site-footer {
	background-color: $grey;
    color: $white;

    // Style ul
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        a {
            text-decoration: none;
            color: $white;
            font-size: $font__mobile_links;
        }
    }
    p {
        margin: 0;
        text-align: center;
    }

    .footer-top .menu {
        justify-content: flex-start;
        gap: 1rem;
    }
    .footer-bottom {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
    }

}

.footer-top,.footer-bottom {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer-border {
    border-top: 1px solid $white;
}

@media (min-width: 37.5em) {
    .site-footer .footer-bottom {
        flex-direction: row;
        justify-content: space-between;
        .menu {
            gap: 1rem;
        }
    }
}