.step-heading {
    font-size: 3rem;
    text-align: center;
    text-transform: capitalize;
}

.step-icon,
.step-subheading,
.step-description {
    text-align: center;
}

.step-icon {
    background-color: $blue;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 20%;
}

.step-icon > p {
    color: $white;
    font-size: 2rem;
    margin: 0;
}

.step-image {
    display: none;
}