#home-expertise {
    h2 {
        font-size: 3rem;
    }
    p {
        font-size: 1.25rem;
    }
    p,
    h2 {
        text-align: center;
    }
    a {
        display: block;
        text-align: center;
        background-color: $lightBlue;
        color: $white;
        width: 7em;
        padding: 0.5em;
        margin: 2em auto;
        text-decoration: none;
        border-radius: 0.7em;
        box-shadow: rgba(0, 0, 0, 0.2) 0 15px 30px -5px;

    }
    a:hover, a:active {
        background-color: $blue;
        color: $white;
        transition: 0.8s;
        }
}

.service-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.service-block {
    display: inline-block;
    background-color: $lightBlue;
    margin: 1em;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.2) 0 15px 30px -5px;
 
    img {
        height: 10em;
        width: 18em;
        border-radius: .5em .5em 0 0;
        object-fit: cover;
        box-shadow: unset;
    }
    p {
        text-align:center;
        color: $white;
    }
}

.expertise-button {
    display: block;
    text-align: center;
    background-color: $lightBlue;
    color: $white;
    width: 7em;
    padding: 0.5em;
    margin: 2em auto;
    text-decoration: none;
    border-radius: 0.7em;
    box-shadow: rgba(0, 0, 0, 0.2) 0 15px 30px -5px;
    a:hover, a:active {
        background-color: $blue;
        color: $white;
        transition: 0.8s;
    }
}

#home-feature{
    h2,
    h3,
    a {
        text-align: center;
    }

    a {
        display: block;
    }
    img {
        max-width: 90%;
        margin: 0 auto;
        display: block;
        border-radius: 0.5em;
        box-shadow: rgba(0, 0, 0, 0.2) 0 15px 30px -5px;
    }
}

.descr-box {
    p {
        color: $blue;
        line-height: 2.5em;
    }

    a {
        display: block;
        text-align: center;
        background-color: $lightBlue;
        color: $white;
        width: 7em;
        padding: 0.5em;
        margin: 2em auto;
        text-decoration: none;
        border-radius: 0.7em;
        box-shadow: rgba(0, 0, 0, 0.2) 0 15px 30px -5px;

    }

    a:hover, a:active {
        background-color: $blue;
        color: $white;
        transition: 0.8s;
        }
}

@media (min-width: 37.5em) {
    .descr-box {
    background-color: $lightGrey;
    padding: 3em;
    margin-top: 1em;
    border-radius: 1em; 
    }
}

@media(min-width: 64em) {
    #home-expertise {
        h2 {
            font-size: 5rem;
        }
        p {
            font-size: 1.5rem;
        }
    }
}

@media (min-width: 75em) {
    .feature-wrapper {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        

        img {
            grid-area: 2 / 1 / 7/ 6;
            z-index: 5;

        }
        .descr-box {
            grid-area: 1 / 5 / 8 / 10; 

            p {
                margin: 0 0 0 5em;
                line-height: 2.5em;
            }
        }
    }
}