
.modal {
    justify-content: center;
    align-items: center;
    display: none;
    transition: all 0.3s ease;
    transition-delay: 1s;
    
    .modal-backdrop {
      background: rgba(#000, 0.7);
      height: 190%;
      left: 0;
      width: 100%;
      position: fixed;
      top: 0;
    }

    // 
    input {
      // box-sizing: border-box;
      width: 100%;
    }
  
    .modal-content {
      background: $white;
      border-radius: 5px;
      transition: all 0.6s ease;
      z-index: 1000;
      position: fixed;
      max-height: 40rem  ; // 556px
      // left: 50%;
      // top:-300%;
      // transform: translate(-50%, 60%);
      top: 2rem;
      left: 0;
      right: 0;
      margin: 0 1rem;
      max-width: 37.5rem; // 600px
    }
  
    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ccc;
      padding: .5rem;
      
      h2 {
        margin: auto;
        padding: 0.5em 0;
        text-transform: uppercase;
      }
      .close-modal {
        font-size: 2rem;
        padding: 0;
        margin: 0;
        height: 30px;
        width: 50px;
        text-align: center;
  
        &:hover {
          color: #000;
          cursor: pointer;
        }
      }
    }
  
    .modal-body {
      padding: 0 1.5rem;
    }
    @keyframes showNav {
      from {opacity: 0;}
      to {opacity: 1;}
    }
  
    &.visible {
      display: block;
      animation: showNav 350ms ease-in-out both;

    }
  }
  
  .wpcf7-form textarea{ 
    width: 100% !important;
    height:6em;
}

.wpcf7 input[type="submit"] {
  display: block;
    text-align: center;
    background-color: $lightBlue;
    color: $white;
    width: 8em;
    padding: 1em;
    margin: 0 auto;
    text-decoration: none;
    border-radius: 0.7em;
    box-shadow: rgba(0, 0, 0, 0.2) 0 15px 30px -5px;
}

.wpcf7 input:hover[type="submit"] {
  background-color: $blue;
  color: $white;
  transition: 0.8s;
  cursor: pointer;
}

.wpcf7 input:active[type="submit"] {
  background-color: $blue;
  color: $white;
  transition: 0.8s;
}

// breakpoint at 600px
@media (min-width: 37.5rem) {
  .modal {
    .modal-content {
      margin: 0 auto;    
    }
  }

}