
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
  
    // .modal-backdrop {
    //   background: rgba(#000, 0.7);
    //   height: 100%;
    //   width: 100%;
    //   position: fixed;
    // }
  
    .modal-content {
      background: #fff;
      border-radius: 5px;
      transition: all 0.6s ease;
      z-index: 1000;
      position: absolute;
      top: 390%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ccc;
      padding: .5rem;
  
      .close-modal {
        font-size: 2rem;
        padding: 0;
        margin: 0;
        height: 30px;
        width: 50px;
        text-align: center;
  
        &:hover {
          color: #000;
        }
      }
    }
  
    .modal-body {
      padding: 0 1.5rem;
    }
  
    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }
  
  .wpcf7-form textarea{ 
    width: 100% !important;
    height:8em;
}