h2,
h3,
h4,
h5,
h6 {
	font-size: $font__mobile_heading_other;
	clear: both;
	font-family: $font__heading;
	color: $blue;
}
h1 {
	font-family: $font__heading;
	font-size: $font__mobile_heading_one;
	clear: both;
	color: $blue;
	text-align: center;
}

// use for fake h1
.h1 {
	font-family: $font__heading;
	font-size: $font__banner_heading_mobile;
	font-weight: bold;
}

@media (min-width: 48em) {
	
	h2,
	h3,
	h4,
	h5,
	h6 {
	font-size: $font__desktop_heading_other;
	};
	
	h1 {
	font-size: $font__desktop_heading_one;
	}

	.h1 {
		font-size: $font__banner_heading_desktop
	}
	
}
