.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

// deleted by Makiko
// @media screen and (min-width: 37.5em) {

// 	.menu-toggle {
// 		display: none;
// 	}

// 	.main-navigation ul {
// 		display: flex;
// 	}
// }

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

/* Added for Boldly Built */

.site-header {
	background-color: transparent;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 999;

}
.header-menu-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
	left: 0;
	right: 0;
	z-index: 999;

	svg {
		fill: $white;
	}
	.custom-logo-link {
		width: 6rem;
	}

	.site-menu {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
	}
	// reset default style for button
	button {
		background-color: transparent;
		border: none;

	}
	.menu-toggle {
		padding: .5rem 0 .5rem 1rem;
	}
	.open-modal {
		border: 1px solid $white;
		color: $white;
		border-radius: unset;
		padding: .5rem 1.5rem;
	}

}
// remove margin on right from button 
.main-navigation {
	width: fit-content;
}
// reset default style for button
// .menu-toggle {
// 	background-color: transparent;
// 	border: none;
// }

// underline animation
.header-menu-wrapper {
	.current_page_item a{
		color: $grey;
	}
	li a {
		position: relative;
		&:after {
			content: '';
			// line position
			position: absolute;
			bottom: 0;
			left: 15%;
			// line style
			width: 70%;
			height: 1px;
			background:$white;
			// animation
			transition: all .3s;
			transform: scale(0,1); // 0 to x axis and 1 to y axis
			transform-origin: left top; // start from left
		}
		&:hover::after {
			transform: scale(1,1);
		}
	}

}

// style drop down menu
.main-navigation ul {
	position: absolute;
	top: 6.1rem;
	left: 0;
	right: 0;
	z-index: 999;
	background-color: $grey;

	a {
		color: $white;
		font-weight: 700;
		font-size: $font__mobile_nav_links;
		display: block;
		padding: 0 1.25rem;
		margin: 1rem auto;
		text-align: center;
		// text-transform: uppercase;
	}
}

@media (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
		position: unset;
		background-color: unset;
		a {
			font-size: $font__desktop_nav_links;
			margin: reset;
		}
	}

	.site-header .site-menu {
		flex-direction: row;
	}
}