.banner {
    position: relative;
    img {
        display: block;
        height: 100vh;
        object-fit: cover;
        // For front page and others
        object-position: 60% 50%;
    }
}
// About Page
.page-id-8 .banner img {
    object-position: 50% 50%;
}
// Expertise Page
.page-id-10 .banner img {
    object-position: 20% 50%;
}

.post-thumbnail::after {
    content: "";
    position: absolute;
    background-color: $color__banner_overlay;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.hero-text {
    position: absolute;
    top: 40%;
    height: fit-content;
    color: $white;
    z-index: 3;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 48em) {
    .hero-text {
        top: 100px;
        max-width: 75%;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (min-width: 64em) {
    .banner {
        img {
            height: 75vh;
        }
    }

    .hero-text {
        max-width: 60%;
        top: 10%;
    }
}