#contact-us {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    max-width: $max-width_page-wrapper;
    margin: 0 auto;
}

.contact-heading {
    font-size: 4.5rem;
    text-transform: uppercase;
    position: relative;
    bottom: 75px;
    text-align: center;
    line-height: 3.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.contact-text {
    color: $white;
}

.contact-btn {
    position: relative;
    top: -75px;
    color: $white;
    background: $blue;
    border: 0;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    font-family: $font__heading;
    text-align: center;
    transition: all .3s ease-in-out;
    box-shadow: 0px 22px 48px -12px rgba(0, 45, 98, 0.6)
}

.contact-btn:hover,
.contact-btn:active {
    background: $lightGrey;
    color: $blue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    // border: 0.3em solid $blue;
    transform: scale(1.5);
}

@media (min-width: 48em) {
    .contact-btn {
        top: -150px;
        right: 225px;
    }

    .contact-heading {
        font-size: 7rem;
    }

    .contact-text {
        position: relative;
        right: 10%;
        top: -25px;
    }

    .contact-text-two {
        position: relative;
        left: 40%;
    }

    #contact-us::before {
        height: 250px;
    };
}

@media (min-width: 64em) {
    #contact-us::before {
        height: 325px;
    };
    
    .contact-btn {
        height: 150px;
        width: 150px;
        font-size: 1.5rem;
    }

    #contact-us {
        padding: $padding_page-wrapper ;
    }
}