.site {
	display: grid;
	grid-template-columns: 1fr minmax(0, 1920px) 1fr;
	grid-template-areas:
		". header ."
		". main. "
		". footer .";
	background-color: $white;
	}

.site-header {
	grid-area: header;
};
	
.site-main {
	grid-area: main;
	margin-left: auto;
	margin-right: auto;
};
	
.site-footer {
	grid-area: footer;
};