.site {
	display: grid;
	grid-template-columns: 1fr minmax(0, 1920px) 1fr;
	grid-template-areas:
		". header ."
		". main. "
		". footer .";
	background-color: $white;
	}

.site-header {
	grid-area: header;
};
	
.site-main {
	grid-area: main;
};
	
.site-footer {
	grid-area: footer;
};

.page-wrapper {
	padding: 0 1rem ;
}

@media (min-width: 37.5em) {
	.page-wrapper {
		margin: 0 auto ;
		max-width: 50em;
	}	
}
