.site {
	display: grid;
	grid-template-columns: 1fr minmax(0, 1920px) 1fr;
	grid-template-areas:
		". header ."
		". main. "
		". footer .";
	background-color: $white;
	}

.site-header {
	grid-area: header;
};
	
.site-main {
	grid-area: main;
};
	
.site-footer {
	grid-area: footer;
};

/* Added for Boldly Built */

// default margin
.page-wrapper {
	padding: $padding_page-wrapper ;
	margin: $margin_page-wrapper-default;
	margin-bottom: $margin_page-wrapper;
}

// margin for pages with banner images
.home,
.page-id-8, 
.page-id-10 {
	.page-wrapper {
		margin: $margin_page-wrapper auto ;
	}
}

@media (min-width: 37.5em) {
	.page-wrapper {
		max-width: $max-width_page-wrapper;
	}	
}
