/* ----------------------
Fade in up
---------------------- */

.fadeInUpTitleTrigger,
.animate__animated{
	opacity: 0;
}

.change-time{  
    animation-duration: 1s;
  }

.change-delay-200ms {
  animation-delay: 200ms;
}
.change-delay-400ms {
  animation-delay: 400ms;
}

.fadeInUpTitle{
  animation-name:fadeInUpTitleAnime;
  animation-duration:1s;
  animation-delay: .3s;
  animation-fill-mode:forwards;
  // opacity:0;
  }
  
  @keyframes fadeInUpTitleAnime{
    from {
      opacity: 0;
    transform: translateY(30px);
    }
  
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }

/* ----------------------
Gradation
---------------------- */

@mixin bggradient() {
  width: 100%;
  height: 100vh;
  background:linear-gradient(45deg,#475F9B,#002d62, #677589);/*グラデーションを定義*/
  background-size: 200% 200%;/*サイズを大きくひきのばす*/
  animation: bggradientAnime 20s ease infinite;
}

@keyframes bggradientAnime{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}